<div class="card"
  *ngIf="condition">
  <!-- Illustration -->
  <img [src]="condition.icon">
  <!-- Card description -->
  <div class="description">
    <!-- Title : city name, and zipCode -->
    <div class="header">
      <!-- Zip badge -->
      <div class="badge">
        {{condition.countryZip.countryCode}},&nbsp;{{condition.countryZip.zipCode}}
      </div>
      <!-- Close icon -->
      <span class="close"
        (click)="onRemoveCard()">&times;</span>
      <!-- City name -->
      <div class="title">
        {{condition.data.name}}
      </div>
    </div>
    <!-- Weather summary -->
    <h4>Current conditions: {{condition.data.weather[0].main}}</h4>
    <h4>Temperatures today:</h4>
    <div class="temperatures">
      Current {{condition.data.main.temp | number:'.0-0'}}
      - Max {{condition.data.main.temp_max | number:'.0-0'}}
      - Min {{condition.data.main.temp_min | number:'.0-0'}}
    </div>
    <!-- see more -->
    <a [routerLink]="['/forecast', condition.countryZip.countryCode, condition.countryZip.zipCode]">
      Show 5-day forecast for {{condition.data.name}}
    </a>
  </div>
</div>