:host {
    height: 100%;
    .card {
        flex: 1;
        min-width: 400px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 10px;
        padding: 5px 20px;
        display: flex;
        img {
            margin-right: 10px;
        }
        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .header {
                font-size: 22px;
                font-weight: 600;
                max-width: 300px;
                .badge {
                    padding: 5px 10px;
                    background-color: #2f82b3;
                    border-radius: 10px;
                    color: white;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
            .temperatures {
                margin: -8px 0 8px 0;
            }
        }
    }
}
