<div class="form-container">
  <form [formGroup]="formGroup">
    <!-- Country -->
    <div class="acp-container">
      <input type="text"
        [formControlName]="'country'"
        placeholder="Enter country name">
      <!-- Autocomplete options -->
      <div class="acp-option-container"
        *ngIf="acpCountriesOptions?.length">
        <div class="acp-option"
          (click)="onSelectCountry(country)"
          *ngFor="let country of acpCountriesOptions">
          <span [innerHTML]="country | markBold: formGroup.get('country').value"></span>
        </div>
      </div>
    </div>
    <!-- ZipCode -->
    <input type="text"
      [formControlName]="'zipCode'"
      placeholder="Enter a zipcode">
    <!-- Submit button -->
    <app-state-button [initialTemplate]="save"
      [workingTemplate]="saving"
      [doneTemplateSuccess]="saved"
      [doneTemplateError]="error"
      [disabled]="!formGroup.valid"
      [status]="buttonStatus"
      (buttonClick)="onSubmit()"></app-state-button>
  </form>
</div>

<!-- State button templates -->
<ng-template #save>
  Add location
</ng-template>
<ng-template #saving>
  <img src="./assets/images/load.gif"
    style="width: 50px">
</ng-template>
<ng-template #saved>
  <img src="./assets/images/success.gif"
    style="width: 50px">
</ng-template>
<ng-template #error>
  <img src="./assets/images/error.gif"
    style="width: 50px">
</ng-template>