.form-container {
    width: 100vw;
    padding: 60px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .acp-container {
            position: relative;
            .acp-option-container {
                position: absolute;
                z-index: 2;
                background-color: white;
                width: 100%;
                .acp-option {
                    padding: 10px 20px;
                    transition: all 300ms ease-in-out;
                    box-shadow: 0 0 0 0 #000000, -3px 3px 1px -3px #000000;
                    &:hover {
                        background-color: ghostwhite;
                        cursor: pointer;
                    }
                }
            }
        }
        input {
            border: solid 1px black;
            padding: 10px 20px;
            margin: 5px 0;
            text-align: center;
            border-radius: 10px;
            font-size: 20px;
            z-index: 1;
        }
    }
}
