<!-- Search form -->
<app-search-form [buttonStatus]="searchButtonStatus"></app-search-form>
<!-- Cards -->
<div class="cards-container"
  *ngIf="cardsToShow?.length">
  <app-meteo-card *ngFor="let cardContent of cardsToShow"
    (removeCard)="removeCard($event)"
    [condition]="cardContent"></app-meteo-card>
</div>