:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cards-container {
    width: 100%;
    flex: 1;
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
