button {
    margin: 10px;
    height: 50px;
    padding: 13px 30px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    &.is-round {
        border-radius: 100%;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.is-disabled {
        background-color: ghostwhite;
        cursor: not-allowed;
    }
}
