<button (click)="onClick()"
  [disabled]="disabled"
  [ngClass]="{
    'is-round' : status !== StateButtonStatusEnum.WAITING,
    'is-disabled': disabled
  }">
  <ng-container *ngTemplateOutlet="getTemplateToShow()">
  </ng-container>
</button>