<div class="title">
  5-day forecast for {{forecast?.city.name}}
</div>
<!-- Week grid -->
<div class="grid">
  <div class="box"
    *ngFor="let dailyForecast of forecast?.list">
    <div class="day">
      {{ (dailyForecast.dt * 1000) | date:'EEEE, MMM d'}}
    </div>
    <div class="main">
      {{dailyForecast.weather[0].main}}
    </div>
    <div class="temperatures">
      Min: {{dailyForecast.temp.min | number:'.0-0'}} - Max: {{dailyForecast.temp.max | number:'.0-0'}}
    </div>
    <!-- weather illustration -->
    <img [src]="weatherService.getWeatherIcon(dailyForecast.weather[0].id)"
      class="icon">
  </div>
</div>

<div class="actions">
  <button class="btn btn-success"
    [routerLink]="'/'"> Back to main page</button>
</div>