:host {
  text-align: center;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 30px;
    font-weight: 800;
    margin: 50px 0;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    .box {
      flex: 1;
      margin: 10px;
      .day {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
  .btn {
    margin-top: 50px;
  }
}
